/web/filer/*
!web/filer/.htaccess
/web/uploads/*
!web/uploads/.htaccess
!web/uploads/content/.htaccess
/web/bundles/
/web/assets/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/src/AppBundle/DataFixtures/Data/*
/export_files/*
!/export_files/.gitkeep
!/export_files/README.md

/logs/*
!/logs/.gitkeep

.idea/
.DS_Store
