{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>Rapport creation</h1>

    {{ form(form) }}


    <a href="{{ path('rapport') }}" class="btn btn-default">
        Back to the list
    </a>
{% endblock %}