{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  {{ form(edit_form) }}

  <div>
    <a class="btn btn-default" href="{{ path('tiltag_show', { id: entity.tiltag.id }) }}">{{ 'cancel' | trans }}</a>
  </div>
{% endblock %}
