# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
    data_export_path: %kernel.root_dir%/../export_files
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]

    tiltag_type_extension:
        class: AppBundle\Twig\Extension\TiltagTypeExtension
        tags:
            - {name: "twig.extension"}
    filter_extension:
        class: AppBundle\Twig\Extension\FilterExtension
        tags:
            - {name: "twig.extension"}
    trans_key_extension:
        class: AppBundle\Twig\Extension\TransKeyExtension
        arguments: ["@translator"]
        tags:
            - {name: "twig.extension"}
    format_extension:
        class: AppBundle\Twig\Extension\FormatExtension
        tags:
            - {name: "twig.extension"}

    routing_token_access_extension:
        class: AppBundle\Twig\Extension\RoutingTokenAccessExtension
        arguments: [ "@router", "@request_stack" ]
        tags:
            - {name: "twig.extension"}

    appbundle.user_email_validator:
        class: AppBundle\Validator\Constraints\UserEmailValidator
        arguments: ["@doctrine.orm.entity_manager", "@translator"]
        tags:
            - { name: validator.constraint_validator }

    twig.extension.intl:
        class: Twig_Extensions_Extension_Intl
        tags:
            - { name: twig.extension }

    twig.extension.text:
        class: Twig_Extensions_Extension_Text
        tags: [{ name: twig.extension }]

    security.access.bygning_voter:
        class:      AppBundle\Security\Authorization\Voter\BygningVoter
        public:     false
        arguments: [ "@doctrine.orm.default_entity_manager", "@?security.role_hierarchy" ]
        tags:
            - { name: security.voter }

    security.access.baseline_voter:
        class:      AppBundle\Security\Authorization\Voter\BaselineVoter
        public:     false
        arguments: [ "@doctrine.orm.default_entity_manager", "@?security.role_hierarchy" ]
        tags:
            - { name: security.voter }

    security.access.rapport_voter:
        class:      AppBundle\Security\Authorization\Voter\RapportVoter
        public:     false
        arguments: [ "@doctrine.orm.default_entity_manager", "@?security.role_hierarchy", "@request_stack" ]
        tags:
            - { name: security.voter }

    security.access.tiltag_voter:
        class:      AppBundle\Security\Authorization\Voter\TiltagVoter
        public:     false
        arguments: [ "@doctrine.orm.default_entity_manager", "@?security.role_hierarchy" ]
        tags:
            - { name: security.voter }

    security.access.tiltagdetail_voter:
        class:      AppBundle\Security\Authorization\Voter\TiltagDetailVoter
        public:     false
        arguments: [ "@doctrine.orm.default_entity_manager", "@?security.role_hierarchy" ]
        tags:
            - { name: security.voter }

    security.access.configuration_voter:
        class:      AppBundle\Security\Authorization\Voter\ConfigurationVoter
        public:     false
        arguments: [ "@doctrine.orm.default_entity_manager", "@?security.role_hierarchy" ]
        tags:
            - { name: security.voter }

    security.access.forsyningsvaerk_voter:
        class:      AppBundle\Security\Authorization\Voter\ForsyningsvaerkVoter
        public:     false
        arguments: [ "@doctrine.orm.default_entity_manager", "@?security.role_hierarchy" ]
        tags:
            - { name: security.voter }

    security.access.virksomhed_voter:
        class:      AppBundle\Security\Authorization\Voter\VirksomhedVoter
        public:     false
        arguments: [ "@doctrine.orm.default_entity_manager", "@?security.role_hierarchy", "@request_stack" ]
        tags:
            - { name: security.voter }

    security.access.virksomhed_rapport_voter:
        class:      AppBundle\Security\Authorization\Voter\VirksomhedRapportVoter
        public:     false
        arguments: [ "@doctrine.orm.default_entity_manager", "@?security.role_hierarchy", "@request_stack" ]
        tags:
            - { name: security.voter }

    token_access_user_provider:
        class: AppBundle\Security\TokenAccessUserProvider
        arguments: ["@doctrine.orm.entity_manager"]

    token_access_authenticator:
        class:     AppBundle\Security\TokenAccessAuthenticator
        arguments: ["@security.http_utils"]
        public:    false

    symfony.controller.subscriber.init:
        class: Yavin\Symfony\Controller\InitControllerSubscriber
        tags:
            - { name: kernel.event_subscriber }

    aaplus.attachment_type_extension:
        class: AppBundle\Form\Extension\AttachmentTypeExtension
        tags:
            - { name: form.type_extension, alias: file }

    aaplus.remove_listener:
        class: AppBundle\Listener\RemoveListener
        tags:
            - { name: doctrine.event_listener, event: preRemove }

    aaplus.tiltag_listener:
        class: AppBundle\Listener\TiltagListener
        tags:
            - { name: doctrine.event_listener, event: onFlush }

    aaplus.baseline_listener:
        class: AppBundle\Listener\BaselineListener
        tags:
            - { name: doctrine.event_listener, event: onFlush }

    aaplus.rapport_listener:
        class: AppBundle\Listener\RapportListener
        tags:
            - { name: doctrine.event_listener, event: postLoad }

    aaplus.rapport_calculation:
        class: AppBundle\Calculation\RapportCalculation
        arguments: [ "@service_container" ]

    aaplus.virksomhed_rapport_calculation:
        class: AppBundle\Calculation\VirksomhedRapportCalculation
        arguments: [ "@service_container" ]

    aaplus.energiforsyning_calculation:
        class: AppBundle\Calculation\EnergiforsyningCalculation
        arguments: [ "@service_container" ]
        tags:
            - { name: doctrine.event_listener, event: prePersist }
            - { name: doctrine.event_listener, event: preUpdate }
            - { name: doctrine.event_listener, event: onFlush }

    aaplus.tiltag_calculation:
        class: AppBundle\Calculation\TiltagCalculation
        arguments: [ "@service_container" ]
        tags:
            - { name: doctrine.event_listener, event: prePersist }
            - { name: doctrine.event_listener, event: preUpdate }

    aaplus.tiltagdetail_calculation:
        class: AppBundle\Calculation\TiltagDetailCalculation
        arguments: [ "@service_container" ]
        tags:
            - { name: doctrine.event_listener, event: prePersist }
            - { name: doctrine.event_listener, event: preUpdate }

    aaplus.solcelletiltagdetail_calculation:
        class: AppBundle\Calculation\SolcelleTiltagDetailCalculation
        arguments: [ "@service_container" ]

    aaplus.baseline_calculation:
        class: AppBundle\Calculation\BaselineCalculation
        arguments: [ "@service_container"]
        tags:
            - { name: doctrine.event_listener, event: preUpdate }
            - { name: doctrine.event_listener, event: prePersist }

    aaplus.baselinekorrektion_calculation:
        class: AppBundle\Calculation\BaselineKorrektionCalculation
        arguments: [ "@service_container"]
        tags:
            - { name: doctrine.event_listener, event: preUpdate }
            - { name: doctrine.event_listener, event: prePersist }

    appbundle.profile.form.type:
        class: AppBundle\Form\Type\ProfileFormType
        tags:
            - { name: form.type, alias: appbundle_user_profile }

    aaplus.form.bygningtype:
        class:        AppBundle\Form\BygningType
        arguments:    [doctrine]

    aaplus.form.segmenttype:
        class:        AppBundle\Form\SegmentType
        arguments:    [doctrine]

    # https://github.com/FriendsOfSymfony/FOSUserBundle/issues/2048
    fos_user.doctrine_registry:
        alias: doctrine

    aaplus.pdf_export:
        class: AppBundle\PdfExport\PdfExport
        arguments: [ "@service_container" ]

    aaplus.entityaudit.manager:
        class: AppBundle\EntityAudit\AuditManager
        arguments: [ "@simplethings_entityaudit.config" ]

    aaplus.entityaudit.reader:
        class: AppBundle\EntityAudit\AuditReader
        factory: ["@aaplus.entityaudit.manager", createAuditReader]
        arguments: ["@doctrine.orm.default_entity_manager"]

    aaplus.exporter.bygning_stream:
        class: AppBundle\Service\BygningStreamExporter
        arguments: [ "@service_container", "@translator" ]

    aaplus.exporter.csv_stream:
        class: AppBundle\Service\StreamExporter
        arguments: []
