<div class="box box--anbefaling">
  <div>
    <span class="icon"></span>
  </div>
  <div>
    {{ section.number }}. {{ 'rapportsektion.types.anbefaling' | trans }}
  </div>
  <div>
    <h4>{{ section.anbefalingTitle }}</h4>
  </div>
  <div>
    {{ section.ROI }}
  </div>
</div>
