<div class="box box--anbefaling">
  <div>
    <span class="icon"></span>
  </div>
  <div>
    {{ number }}. {{ section.title }}
  </div>
  <div>
    <h4>{{ section.anbefalingTypeLabel }}</h4>
  </div>
  <div>
    {{ section.ROI }}
  </div>
</div>
