{% extends 'AppBundle::RapportSektioner/base.html.twig' %}
{% block section_content -%}
  {{ parent() }}
  <div class="section-finansiering-nogletal">
    <h2>Nøgletal</h2>
    <div class="section-finansiering-nogletal-tekst">
      {{ section.noegletal | raw }}
    </div>
    <div class="section-finansiering-nogletal-chart">
      {% include 'AppBundle:_includes:graf_noegletal.html.twig' with {
        'investering' : section.ROIGrafData.investering,
        'roi' : section.ROIGrafData.roi,
        'tekniskelevetid' : section.tekniskelevetid,
        'samletBesparelseOverAar' : section.getSamletBesparelseOverAar(section.tekniskelevetid)
      } %}
    </div>
  </div>
  <div class="section-finansiering-roi">
    <h2>Simpel tilbagebetalingstid (ROI)</h2>
    {% include 'AppBundle:_includes:graf_roi.html.twig' with { 'chart_data' : section.ROIGrafData  } %}
  </div>
  <div class="section-finansiering-tekst">
    {{ section.finansieringTekst | raw }}
  </div>
{% endblock %}
