{% extends 'AppBundle::RapportSektioner/base.html.twig' %}
{% block section_title -%}
  <div class="h3" class="section-text">{{ section.title }}</div>
{% endblock %}

{% block section_content -%}
  {{ parent() }}
  overriden
{% endblock %}
