{% extends 'AppBundle::RapportSektioner/base.html.twig' %}
{% block section -%}
<div class="section-frontpage-image">
  {% if section.filepath %}
    <img src="{{ absolute_url(asset(section.filepath)) }}" alt=""/>
  {% endif %}
</div>
  {{ parent() }}
{% endblock %}
