{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  <h1>{{ icon('gears') }} {{ 'configuration.labels.singular' | trans }}</h1>

  {{ form(edit_form, { 'style': 'horizontal' }) }}

{% endblock %}
