<div class="{% if page.landscape %}landscape{% else %}portrait{% endif %}">
  <div class="row{% if page.break %} page-break-before{% endif %}">
    <div class="col-xs-12">
      {% if edit_url %}
        <div class="float-right"><a href="#">edit</a></div>
      {% endif %}
      {% if title %}
        {% block section_title -%}
          <h2 class="section-text">{{ title }}</h2>
        {% endblock %}
      {% endif %}

      {% block section_content -%}
        {% if text %}
          <div class="section-text">
            {{ text }}
          </div>
        {% endif %}
      {% endblock %}
    </div>
  </div>
</div>
