{% extends 'AppBundle::Rapport/sections/base.html.twig' %}
{% block section_title -%}
  <h3 class="section-text">{{ title }}</h3>
{% endblock %}

{% block section_content -%}
  {{ parent() }}
  overriden
{% endblock %}
