{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  <div class="row heading">
    <div class="col-md-8">
      <h1>{{ 'bygninger.actions.indfoer' | trans }}</h1>
    </div>
    <div class="col-md-4 text-right">

    </div>
  </div>

  {% include 'AppBundle:Bygning:_editForm.html.twig' %}

{% endblock %}
