{% extends 'AppBundle:TiltagDetail:edit.html.twig' %}

{% block body -%}
  <div class="row">
    <div class="col-md-10">
      <h1>{{ 'nyttiggjortvarme.actions.new' | trans }}</h1>
    </div>
    <div class="col-md-2 text-right">

    </div>
  </div>

  {{ form(form) }}

{% endblock %}