{% set chartIdRandomized = 'roi-' ~ random() %}

<div id="{{ chartIdRandomized }}" style="width: 524px; height: 170px;"></div>

<script>
    (function () {
        var chartData = {{ chart_data | json_encode | raw }};
        var chart = echarts.init(document.getElementById('{{ chartIdRandomized }}'), 'seas-theme');

        var option = {
            animation: false,
            grid: {
                top: 10,
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['0', '5', '10', '15', '20', '25', '30', 'år']
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: '{value} kr.'
                },
            },
            series: [
                {
                    name: 'Energiudgift efter investering',
                    type: 'line',
                    data: [250000, 375000, 500000, 625000, 750000, 950000, 1250000, 1450000]
                },
                {
                    name: 'Nuværende energiforbrug',
                    type: 'line',
                    data: [5, 230000, 370000, 659000, 950000, 1300000, 1650000, 1980000]
                },
            ]
        };

        chart.setOption(option);
    }());
</script>
