{% set chartIdRandomized = 'highchart_' ~ random() %}
<div class="text-center">
  <div id="{{ chartIdRandomized }}" width="950" height="400"></div>
</div>

<script>
  (function() {

    function prepareData(data) {
      var mutatedData = [];

      for (var item of data) {
        mutatedData.push({
          name: item.label,
          y: parseInt(item.value)
        });
      }

      return mutatedData;
    }

    var injectedData = {{ pie_chart_data | json_encode | raw }};
    var data = prepareData(injectedData);

    Highcharts.chart('{{ chartIdRandomized }}', {
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
      },
      title: {
        text: ''
      },
      tooltip: {
        pointFormat: '{series.name}: <strong>{point.percentage:.1f}%</strong>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: false
          },
          showInLegend: true,
          animations: false,
        }
      },
      series: [{
        name: 'Amount',
        colorByPoint: true,
        data: data
      }]
    });
  }());
</script>
