{% set chartIdRandomized = 'roi-' ~ random() %}

<div id="{{ chartIdRandomized }}" style="width: 524px; height: 170px;"></div>

<script>
    (function () {
        var chartData = {{ chart_data | json_encode | raw }};
        var chart = echarts.init(document.getElementById('{{ chartIdRandomized }}'), 'seas-theme');
        var data = {
            optimeret: chartData.data.optimeret.map(function(data) {
                return parseInt(data);
            }),
            nuvaerende: chartData.data.nuvaerende.map(function(data) {
                return parseInt(data);
            }),
        };

        var option = {
            animation: false,
            grid: {
                top: 10,
                left: '3%',
                right: '6%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: chartData.data.labels
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: '{value} kr.'
                },
            },
            series: [
                {
                    name: 'Energiudgift efter investering',
                    type: 'line',
                    data: data.optimeret
                },
                {
                    name: 'Nuværende energiforbrug',
                    type: 'line',
                    data: data.nuvaerende
                },
            ]
        };

        chart.setOption(option);
    }());
</script>
