{% set chartIdRandomized = 'roi-' ~ random() %}

<div id="{{ chartIdRandomized }}" style="width: 524px; height: 400px;"></div>

<script>
    (function () {
        var chartData = {{ chart_data | json_encode | raw }};
        var chart = echarts.init(document.getElementById('{{ chartIdRandomized }}'));

        var option = {
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['0', '5', '10', '15', '20', '25', '30']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: 'Energiudgift efter investering',
                    type: 'line',
                    stack: '总量',
                    data: [250000, 375000, 500000, 625000, 750000, 950000, 1250000]
                },
                {
                    name: 'Nuværende energiforbrug',
                    type: 'line',
                    stack: '总量',
                    data: [5, 230000, 370000, 659000, 950000, 1300000, 1650000]
                },
            ]
        };

        chart.setOption(option);
    }());
</script>
