{% set chartIdRandomized = 'linjegraf' ~ random() %}

<div style="padding-bottom: 50px;">
  <figure id="{{ chartIdRandomized }}" height="400" style="height: 400px;">
    <canvas width="400" height="400" style="height: 400px;"></canvas>
    <figcaption></figcaption>
  </figure>
</div>

<script>
    (function() {
      var linje_graf_data = {{ linje_graf_data | json_encode | raw }};
      console.log(linje_graf_data);
  }())
</script>
