html,
body {
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
}

div.portrait {
  width: 1000px;
  margin: 0 auto;
}

div.landscape {
  width: 1400px;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h1.pdf-enlarged {
  font-size: 4em;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  margin-top: 25px;
  margin-bottom: 5px;

  font-size: 1.5em;
  font-weight: bold;
}

h4 {
  margin-top: 25px;
  margin-bottom: 5px;

  font-size: 1.35em;
  font-weight: bold;
}

h5 {
  font-size: 1.2em;
  font-weight: bold;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

.grey {
  font-weight: normal;
  color: grey;
}

.sub-header {
  font-weight: normal;
  font-style: italic;
}

body > .container-fluid {
  padding: 0;
}

.panel-heading {
  font-size: 1.4em;
}

hr.pdf-heading {
  background-color: #000000;
  height: 3px;
  border: 0;
}

hr.dark {
  background-color: #4A4D45;
  height: 1px;
  border: 0;
}

.page-break-after {
  page-break-after: always;
}

.page-break-after:last-child {
  page-break-after: avoid;
}

.page-break-before {
  page-break-before: always;
}

/** Tables **/
table {
  width: 1000px;
}

table, tr, td, th, tbody, thead, tfoot {
  page-break-inside: avoid !important;
}

.table > tbody > tr.no-border > th, .table > tbody > tr.no-border > td {
  border-top: 1px solid transparent;
}

table.results > tbody > tr > td {
  width: 15%;
}

thead {
  display: table-header-group;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1pt solid #E5E5E1;
  font-size: 10pt;
}

.table > thead > tr > th {
  border-bottom: 2pt solid #E5E5E1;
}

.table > tbody + tbody {
  border-top: 2pt solid #E5E5E1;
}

.table > tfoot > tr > td {
  border-top: 1pt solid #E5E5E1;
}

.table > tfoot > tr > th {
  border-top: 2pt solid #E5E5E1;
}

.table > thead > tr > th {
  border-bottom: 2pt solid #E5E5E1;
}

.table > tbody + tbody {
  border-top: 2pt solid #E5E5E1;
}

.table-header-rotated > tbody > tr > td:last-child {
  min-width: 4em;
}

.table-header-rotated > tbody > tr > td {
  border-left: 1px solid #E5E5E1;
}

.table-header-rotated > thead > tr > th, .table-header-rotated > tbody > tr > th, .table-header-rotated > tfoot > tr > th {
  font-size: 10pt;
}

.table-header-rotated > thead > tr > td, .table-header-rotated > tbody > tr > td, .table-header-rotated > tfoot > tr > td {
  font-size: 10pt;
}

.table-header-rotated th.rotate > div {
  transform: translate(-15px, 15px) rotate(-45deg);
  -webkit-transform: translate(-15px, 15px) rotate(-45deg);
  position: relative;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  left: 50%;
  top: 0;
  margin-right: -999px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table > thead > tr > th.unit {
  font-size: 9pt
}

.table-header-rotated td:nth-child(even),
.table-header-rotated td:nth-child(even):hover {
  background: none !important;
}

.table-header-rotated tr:nth-child(odd),
.table-header-rotated tr:nth-child(odd) td {
  background: none !important;
}

.table-header-rotated tr:nth-child(even),
.table-header-rotated tr:nth-child(even):hover {
  background-color: #F8F8F7 !important;
}

th.unit {
  background-color: #E5E5E1;
  color: #50534d;
}

tbody th {
  font-weight: bold;
}

td.selected {
  text-align: center;
  background-color: #5fb859;
}

td.not-selected {
  text-align: center;
  border-right: 1px solid #E5E5E1;
}

td.tiltag-title, th.tiltag-title {
  max-width: 1%;
  overflow: hidden;
}

th.border-right, td.border-right {
  border-right: 2pt solid #E5E5E1;
}

th.border-right:last-child, td.border-right:last-child {
  border-right: 0;
}

/** Panels **/
.panel {
  border: 1pt solid #E5E5E1;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  page-break-inside: avoid !important;
  overflow: hidden;
}

tr.highlight {
  background-color: #E5E5E1;
  color: #50534d;
}

.panel-heading {
  border-bottom: 1pt solid #E5E5E1;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 1.1em;
}

.panel-default > .panel-heading {
  color: #50534d;
  background-color: #E5E5E1;
  border-color: #E5E5E1;
}

.pdf-footer {
  padding-top: 10pt;
  font-size: .7em;
  border-top: 1pt solid #B2C930;
}

p {
  margin: 0 0 12px;
}

a {
  color: #000;
  text-decoration: underline;
}

.piechart-legend {
  padding-left: 0;
  margin-top: 15pt;
  margin-left: -5pt;

  list-style: none;
}
.piechart-legend li {
  display: inline-block;

  padding-right: 5pt;
  padding-left: 5pt;
}
.piechart-legend span {
  float: left;

  width: 14pt;
  height: 14pt;

  margin-right: 5pt;
}
