/* Global. */
html,
body {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.75;

    color: #50534d;
}

body.rapport-review {
    font-size: 12px;
}

div.portrait {
    width: 1000px;
    margin: 0 auto;
}

div.landscape {
    width: 1400px;
    margin: 0 auto;
}

.h1,
h1 {
    letter-spacing: -1pt;
    font-size: 2.5em;
    font-weight: bold;
}
.h1.enlarged,
h1.enlarged {
    font-size: 3.5em;
}

.h1 small,
h1 small {
    font-weight: bold;
    font-size: 1rem;

    color: #50534d;
}

.h2,
h2 {
    letter-spacing: -1pt;
    font-size: 2em;
    font-weight: bold;
}

.h3,
h3 {
    margin-top: 25px;
    margin-bottom: 5px;

    letter-spacing: -1pt;
    font-size: 1.2em;
    font-weight: bold;
}

p {
    font-size: 1em;
    margin: 0 0 12px;
}

p.intro {
    font-size: 1.3em;
}

a {
    color: #50534d;
    text-decoration: none;
}

.text-muted {
    font-family: "OpenSans";
    font-size: 8px;
    color: #838780;
}

body > .container-fluid {
    padding: 0;
}

.page-break-after {
    page-break-after: always;
}

.page-break-after:last-child {
    page-break-after: avoid;
}

.page-break-before {
    page-break-before: always;
}

.pdf-footer {
    padding-top: 10pt;
    margin-left: 15mm;
    margin-right: 15mm;

    font-size: .7em;
    border-top: 1pt solid #B2C930;
}

img {
    max-width: 100%;
}
img.full-width {
    width: 100%;
}

.section-type {
    position: relative;
    display: inline-block;

    padding-bottom: 8px;

    font-weight: normal;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1.45px;

    color: #74766c;
}
.section-type::after {
    position: absolute;
    display: block;

    height: 2px;

    right: 0;
    left: 0;
    bottom: 0;

    content: "";

    background-color: #ffde2f;
}

.breadcrumb {
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    float: left;
    margin: 0;
}

.breadcrumb a {
    color: #337ab7;
    text-decoration: none;
}

.icon {
    display: inline-flex;

    height: 40px;
    width: 40px;

    justify-content: center;
    align-items: center;

    border-radius: 100%;

    background-color: #009e50;
    color: #fff;
}


/* List inline. */
.list-inline .color-square {
    margin-bottom: -2px;
    margin-right: 5px;
}
.list-inline {
    margin-left: -10px;
}
.list-inline > li {
    padding-left: 10px;
    padding-right: 10px;
}


/* Color square. */
.color-square {
    display: inline-block;

    height: 14px;
    width: 14px;

    border-radius: 3px;
}
.color-square--brand-2,
.color-square--provider {
    background-color: #62c5d3;
}
.color-square--brand-1,
.color-square--company {
    background-color: #a7cb11;
}
.color-square--brand-3,
.color-square--both {
    background-color: #009e50;
}
.color-square--brand-4 {
    background-color: #fe9029;
}


/* Editor. */
.editor {
    text-align: right;
}
.editor a {
    display: inline-block;

    padding: 6px 12px;

    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    user-select: none;

    color: #333;
    background-color: #fff;
}
.editor a:hover {
    background-color: #eee;
}


.rapport-review .block--negative-margin {
    margin-left: -70px;
    margin-right: -70px;
}
.block--negative-margin {
    margin-left: -15mm;
    margin-right: -15mm;
}


/* Box. */
.box {
    padding: 25px 15px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    background-color: rgba(116, 118, 108, 0.05);
}

.box--samlet-besparelse {
    text-align: center;
    font-weight: bold;
}
.box--samlet-besparelse .h1,
.box--samlet-besparelse h1 {
    margin: 0;

    font-size: 3.5em;
}

/* Anbefaling. */
.box--anbefaling {
    text-align: center;

    color: #009e50;
}
.box--anbefaling .h3,
.box--anbefaling h3 {

}
.box--anbefaling .icon {
    margin-bottom: 10px;
}
.box--anbefaling-type-belysning .icon {}
.box--anbefaling-type-ventilation .icon {}
.box--anbefaling-type-pumper .icon {}
.box--anbefaling-type-koeling .icon {}
.box--anbefaling-type-trykluft .icon {}
.box--anbefaling-type-procesudstyr .icon {}
.box--anbefaling-type-varmeanlaeg .icon {}
.box--anbefaling-type-klimaskaerm .icon {}
.box--anbefaling-type-vinduer .icon {}
.box--anbefaling-type-elvarme_rumvarme .icon {}
.box--anbefaling-type-elmotorer_intern_transport .icon {}
.box--anbefaling-type-energiforbrugende_apparater .icon {}
.box--anbefaling-type-oevrige .icon {}
.box--anbefaling-type-kedler_udskiftning .icon {}
.box--anbefaling-type-kedler_serviceeftersyn .icon {}


/* Chart. */
.chart {
    display: inline-block;
    position: relative;
}
.chart-heading {
    position: absolute;
    display: flex;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chart-heading__title {
    font-size: 5em;
    font-weight: bold;

    color: #62c5d3;
}
.chart-heading__subtitle {}


/* Sections. */
.section {
    padding-left: 15mm;
    padding-right: 15mm;
}
.section--kontaktinformation {
    padding-top: 15mm;
}

.rapport-review .section {
    padding-left: 70px;
    padding-right: 70px;
}
.section--negative-margin {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.rapport-review .section--negative-margin {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

/* Frontpage. */
.section--forside {
    padding-left: 4mm !important;
    padding-right: 4mm !important;
}
.rapport-review .section--forside {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.rapport-review .block-frontpage--image {
    height: 700px;
}
.block-frontpage--image {
    height: 550pt;

    overflow: hidden;
}
.rapport-review .block-frontpage--image img {
    min-height: 700px;
}
.block-frontpage--image img {
    min-width: 100%;
    min-height: 550pt;
}

.rapport-review .block-frontpage--map {
    height: 320px;
}
.block-frontpage--map {
    height: 310pt;
    overflow: hidden;

    color: #fff;
    background-color: #c0c0b5;
}

.rapport-review .report-intro {
    padding-top: 45px;
    padding-left: 60px;
    padding-bottom: 5px;
}
.report-intro {
    padding-top: 45pt;
    padding-left: 15mm;
    padding-bottom: 5pt;
}
.rapport-review .report-intro .section-type {
    margin-bottom: 45px;
}
.report-intro .section-type {
    margin-bottom: 40pt;
    font-size: 1.4em;

    color: #fff;
}
.report-intro .section-type::after {
    background-color: #fff;
}
.rapport-review .report-intro__title {
    margin-bottom: 45px;
}
.report-intro__title {
    margin-bottom: 40pt;

    letter-spacing: -1pt;
    font-weight: bold;
    font-size: 4em;
    line-height: 1.1;
}
.report-intro__report-type {
    font-weight: bold;
    font-size: 2.5em;
}

.report-map {
    text-align: right;
}
.rapport-review .report-map img {
    height: 320px;
}
.report-map img {
    height: 330pt;
}

.block-frontpage--name {
    padding-top: 50px;
    padding-left: 15mm;

    color: #74766c;
}
.rapport-review .block-frontpage--name {
    padding-left: 60px;
}

.block-frontpage__undersagsnavn {
    letter-spacing: -1pt;
    font-size: 2.5em;
}
.block-frontpage__date {
    letter-spacing: -1pt;
    font-size: 1.5em;
}
.block-frontpage__logo {
    margin-top: 50px;
}
.block-frontpage__logo img {
    height: 34pt;
}
.rapport-review .block-frontpage__logo img {
    height: 34px;
}

.report-text-undersagsnavn {}

/* Opsummering. */
.block-opsummering--seas-anbefaler {
    padding-top: 30px;
}
.block-opsummering--potentiel-besparelse > h2 {
    margin-bottom: 30px;
}
.block-opsummering--roi {
    padding-top: 60px;
}

/* Anbefalinger. */
.section--anbefaling .section-text {
    padding-top: 10px;
    padding-bottom: 40px;

    max-width: 80ch;

    font-size: 1.3em;
}
.block-anbefaling--meta {
    background-color: #006f55;
}
.block-anbefaling--meta,
.block-anbefaling--meta small {
    color: #fff;
}

.region-anbefaling--meta {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 15mm;
}
.rapport-review .region-anbefaling--meta {
    padding-right: 70px;
}

.region-anbefaling--effect {}

.region-anbefaling--effect-description .row + .row {
    margin-top: 8px;
}

.region-anbefaling--highlighted-text {
    color: #009e50;
}

.block-anbefaling--tidsforloeb {
    padding-top: 40px;
}
.block-anbefaling--tidsforloeb h2 {
    margin-bottom: 30px;
}
.block-anbefaling--tidsforloeb .table {
    border-bottom: 1px solid #e4e4e2;
}

.block-anbefaling--tidsforloeb .table > thead > tr > th {
    font-weight: normal;
}
.block-anbefaling--tidsforloeb .table th,
.block-anbefaling--tidsforloeb .table td {
    position: relative;

    text-align: center;
    border-color: #e4e4e2;
}

.block-anbefaling--tidsforloeb .table td:first-child {
    padding-left: 0;

    text-align: left;
}
.block-anbefaling--tidsforloeb .table th::after,
.block-anbefaling--tidsforloeb .table td::after {
    position: absolute;

    bottom: 0;
    left: 50%;

    width: 1px;

    content: "";

    background-color: #e4e4e2;
}
.block-anbefaling--tidsforloeb .table th::after {
    height: 8px;
}
.block-anbefaling--tidsforloeb .table td::after {
    top: 0;
}
.block-anbefaling--tidsforloeb .table th:first-child::after,
.block-anbefaling--tidsforloeb .table td:first-child::after {
    display: none;
}

tr.tidsforloeb-ansvarlig--provider td.active-span span {
    background-color: #62c5d3;
}
tr.tidsforloeb-ansvarlig--company td.active-span span {
    background-color: #a7cb11;
}
tr.tidsforloeb-ansvarlig--both td.active-span span {
    background-color: #009e50;
}

.block-section--anbefaling-roi {
    padding-top: 50px;
}

/* Table. */
.table {
    border-color: #e4e4e2;
}
.table > thead > tr > th {
    border-bottom-width: 1px !important;
}

td.active-span span {
    position: absolute;

    top: 50%;
    left: -1px;
    right: -1px;

    margin-top: -6px;

    height: 12px;

    z-index: 10;

    background-color: #62c5d3;
}
td.active-span.first span {
    left: 50%;
}
td.active-span.last span {
    right: 50%;

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}




.section-tiltag.landscape {
    position: relative;
    min-width: 1160px;
    height: 1560px;
    padding: 80px 40px;
    overflow: hidden;
}
.section-tiltag.landscape .row {
    -webkit-transform: translateY(100%) rotate(270deg); /* Safari */
    -moz-transform: translateY(100%) rotate(270deg); /* Firefox 3.6 Firefox 4 */
    /*-moz-transform-origin: right top; */
    -ms-transform: translateY(100%) rotate(270deg); /* IE9 */
    -o-transform: translateY(100%) rotate(270deg); /* Opera */
    transform: translateY(100%) rotate(270deg); /* W3C */
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    position: absolute;
    bottom: 0;
}
.section-tiltag.landscape .row table.table {
    max-width: 1400px;
    table-layout: auto !important;
}
