html,
body {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #50534d;
}

div.portrait {
    width: 1000px;
    margin: 0 auto;
}

div.landscape {
    width: 1400px;
    margin: 0 auto;
}

.section-type {
    position: relative;
    display: inline-block;

    padding-bottom: 8px;

    font-weight: normal;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1.45px;

    color: #74766c;
}
.section-type::after {
    position: absolute;
    display: block;

    height: 2px;

    right: 0;
    left: 0;
    bottom: 0;

    content: "";

    background-color: #ffde2f;
}

.h1,
h1 {
    font-size: 2.5rem;
    font-weight: bold;
}
.h1.enlarged,
h1.enlarged {
    font-size: 3.5rem;
}

.h2,
h2 {
    font-size: 2em;
    font-weight: bold;
}

.h3,
h3 {
    margin-top: 25px;
    margin-bottom: 5px;

    font-size: 1.2rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    margin: 0 0 12px;
}

p.intro {
    font-size: 1.3rem;
}

a {
    color: #009e50;
    text-decoration: underline;
}

.text-muted {
    font-family: "OpenSans";
    font-size: 8px;
    color: #838780;
}

body > .container-fluid {
    padding: 0;
}

.page-break-after {
    page-break-after: always;
}

.page-break-after:last-child {
    page-break-after: avoid;
}

.page-break-before {
    page-break-before: always;
}

.pdf-footer {
    padding-top: 10pt;
    font-size: .7rem;
    border-top: 1pt solid #B2C930;
}

img.full-width {
    width: 100%;
}

.breadcrumb {
    padding: 17px 15px 8px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    float: left;
    margin: 0;
}

.breadcrumb a {
    color: #337ab7;
    text-decoration: none;
}

.icon {
    display: inline-flex;

    height: 40px;
    width: 40px;

    justify-content: center;
    align-items: center;

    border-radius: 100%;

    background-color: #009e50;
    color: #fff;
}

.box {
    padding: 25px 15px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    background-color: rgba(116, 118, 108, 0.05);
}
.box--anbefaling {
    text-align: center;

    color: #009e50;
}
.box--anbefaling .icon {
    margin-bottom: 10px;
}

.box--samlet-besparelse {
    text-align: center;
    font-weight: bold;
}
.box--samlet-besparelse .h1,
.box--samlet-besparelse h1 {
    margin: 0;

    font-size: 3.5rem;
}
.box--samlet-besparelse .h1 small,
.box--samlet-besparelse h1 small {
    font-weight: bold;
    font-size: 1rem;

    color: #50534d;
}
