body {
  font-size: 11pt;
  /*width: 1000px;*/
}

div.portrait {
  width: 1000px;
}

div.landscape {
  width: 1400px;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

h4 {
  font-size: 1.35em;
  font-weight: bold;
}

h5 {
  font-size: 1.2em;
  font-weight: bold;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

.grey {
  font-weight: normal;
  color: grey;
}

.sub-header {
  font-weight: normal;
  font-style: italic;
}

body > .container-fluid {
  padding: 0;
}

.panel-heading {
  font-size: 1.4em;
}

hr.pdf-heading {
  background-color: #000000;
  height: 3px;
  border: 0;
}

.page-break-after {
  page-break-after: always;
}

.page-break-after:last-child {
  page-break-after: avoid;
}

.page-break-before {
  page-break-before: always;
}

/** Tables **/
table {
  width: 1000px;
}

table, tr, td, th, tbody, thead, tfoot {
  page-break-inside: avoid !important;
}

.table > tbody > tr.no-border > th, .table > tbody > tr.no-border > td {
  border-top: 1px solid transparent;
}

table.results > tbody > tr > td {
  width: 15%;
}

thead {
  display: table-header-group;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1pt solid #444;
  font-size: 8pt;
}

.table > thead > tr > th {
  border-bottom: 2pt solid #444;
}

.table > tbody + tbody {
  border-top: 2pt solid #444;
}

.table > tfoot > tr > td {
  border-top: 1pt solid #444;
}

.table > tfoot > tr > th {
  border-top: 2pt solid #444;
}

.table > thead > tr > th {
  border-bottom: 2pt solid #444;
}

.table > tbody + tbody {
  border-top: 2pt solid #444;
}

.table-header-rotated > tbody > tr > td:last-child {
  min-width: 4em;
}

.table-header-rotated > tbody > tr > td {
  border-left: 1px solid #444;
}

.table-header-rotated > thead > tr > th, .table-header-rotated > tbody > tr > th, .table-header-rotated > tfoot > tr > th {
  font-size: 8pt;
}

.table-header-rotated > thead > tr > td, .table-header-rotated > tbody > tr > td, .table-header-rotated > tfoot > tr > td {
  font-size: 6pt;
}

.table-header-rotated th.rotate > div {
  transform: translate(-15px, 15px) rotate(-45deg);
  -webkit-transform: translate(-15px, 15px) rotate(-45deg);
  position: relative;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  left: 50%;
  top: 0;
  margin-right: -999px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table > thead > tr > th.unit {
  font-size: 6pt
}

.table-header-rotated td:nth-child(even) {
  background: none;
}

.table-header-rotated tr:nth-child(even) {
  background-color: #cfcfcf;
}

th.unit {
  background-color: #6e95ee;
}

td.selected {
  text-align: center;
  background-color: #5fb859;
}

td.not-selected {
  text-align: center;
  border-right: 1px solid #444;
}

td.tiltag-title, th.tiltag-title {
  max-width: 1%;
  overflow: hidden;
}

th.border-right, td.border-right {
  border-right: 2pt solid #444;
}

th.border-right:last-child, td.border-right:last-child {
  border-right: 0;
}

/** Panels **/
.panel {
  border: 1pt solid #444;
  border-radius: 0pt;
  box-shadow: none;
  -webkit-box-shadow: none;
  page-break-inside: avoid !important;
  overflow: hidden;
}

.panel-heading {
  border-bottom: 1pt solid #444;
  border-top-left-radius: 0pt;
  border-top-right-radius: 0pt;
  font-size: 1.1em;
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #cfcfcf;
  border-color: #444;
}

/*.rotate {*/
  /*transform-origin: center top;*/
  /*transform: translateX(-50%) translateY(43%) rotate(-90deg)*/
/*}*/


