html,
body {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #50534d;
}

div.portrait {
  width: 1000px;
  margin: 0 auto;
}

div.landscape {
  width: 1400px;
  margin: 0 auto;
}

h1 {
  font-size: 25px;
  font-weight: bold;
}
h2 {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  margin-top: 25px;
  margin-bottom: 5px;

  font-size: 12px;
  font-weight: bold;
}


p {
  margin: 0 0 12px;
}
p.intro {
  font-size: 13px;
}

a {
  color: #009e50;
  text-decoration: underline;
}

.text-muted {
  font-family: "OpenSans";
  font-size: 8px;
  color: #838780;
}

body > .container-fluid {
  padding: 0;
}

.page-break-after {
  page-break-after: always;
}

.page-break-after:last-child {
  page-break-after: avoid;
}

.page-break-before {
  page-break-before: always;
}

.pdf-footer {
  padding-top: 10pt;
  font-size: .7em;
  border-top: 1pt solid #B2C930;
}

img.full-width {
    width: 100%;
}
