html,
body {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #50534d;
}

body.rapport-review {
    font-size: 12px;
}

div.portrait {
    width: 1000px;
    margin: 0 auto;
}

div.landscape {
    width: 1400px;
    margin: 0 auto;
}

.h1,
h1 {
    font-size: 2.5em;
    font-weight: bold;
}
.h1.enlarged,
h1.enlarged {
    font-size: 3.5em;
}

.h2,
h2 {
    font-size: 2em;
    font-weight: bold;
}

.h3,
h3 {
    margin-top: 25px;
    margin-bottom: 5px;

    font-size: 1.2em;
    font-weight: bold;
}

p {
    font-size: 1em;
    margin: 0 0 12px;
}

p.intro {
    font-size: 1.3em;
}

a {
    color: #50534d;
    text-decoration: none;
}

.text-muted {
    font-family: "OpenSans";
    font-size: 8px;
    color: #838780;
}

body > .container-fluid {
    padding: 0;
}

.page-break-after {
    page-break-after: always;
}

.page-break-after:last-child {
    page-break-after: avoid;
}

.page-break-before {
    page-break-before: always;
}

.pdf-footer {
    padding-top: 10pt;
    font-size: .7em;
    border-top: 1pt solid #B2C930;
}

img {
    max-width: 100%;
}
img.full-width {
    width: 100%;
}

.section-type {
    position: relative;
    display: inline-block;

    padding-bottom: 8px;

    font-weight: normal;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1.45px;

    color: #74766c;
}
.section-type::after {
    position: absolute;
    display: block;

    height: 2px;

    right: 0;
    left: 0;
    bottom: 0;

    content: "";

    background-color: #ffde2f;
}

.breadcrumb {
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    float: left;
    margin: 0;
}

.breadcrumb a {
    color: #337ab7;
    text-decoration: none;
}

.icon {
    display: inline-flex;

    height: 40px;
    width: 40px;

    justify-content: center;
    align-items: center;

    border-radius: 100%;

    background-color: #009e50;
    color: #fff;
}

.box {
    padding: 25px 15px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    background-color: rgba(116, 118, 108, 0.05);
}

.box--samlet-besparelse {
    text-align: center;
    font-weight: bold;
}
.box--samlet-besparelse .h1,
.box--samlet-besparelse h1 {
    margin: 0;

    font-size: 3.5em;
}
.box--samlet-besparelse .h1 small,
.box--samlet-besparelse h1 small {
    font-weight: bold;
    font-size: 1em;

    color: #50534d;
}

/* Anbefaling. */
.box--anbefaling {
    text-align: center;

    color: #009e50;
}
.box--anbefaling .h3,
.box--anbefaling h3 {

}
.box--anbefaling .icon {
    margin-bottom: 10px;
}
.box--anbefaling-type-belysning .icon {}
.box--anbefaling-type-ventilation .icon {}
.box--anbefaling-type-pumper .icon {}
.box--anbefaling-type-koeling .icon {}
.box--anbefaling-type-trykluft .icon {}
.box--anbefaling-type-procesudstyr .icon {}
.box--anbefaling-type-varmeanlaeg .icon {}
.box--anbefaling-type-klimaskaerm .icon {}
.box--anbefaling-type-vinduer .icon {}
.box--anbefaling-type-elvarme_rumvarme .icon {}
.box--anbefaling-type-elmotorer_intern_transport .icon {}
.box--anbefaling-type-energiforbrugende_apparater .icon {}
.box--anbefaling-type-oevrige .icon {}
.box--anbefaling-type-kedler_udskiftning .icon {}
.box--anbefaling-type-kedler_serviceeftersyn .icon {}

/* Chart. */
.chart {
    display: inline-block;
    position: relative;
}
.chart-heading {
    position: absolute;
    display: flex;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chart-heading__title {
    font-size: 5em;
    font-weight: bold;

    color: #62c5d3;
}
.chart-heading__subtitle {}

/* Sections. */
.section {}
.section--negative-margin {
    margin-left: -40px;
    margin-right: -40px;
}
.section-frontpage--image {
    height: 630px;

    overflow: hidden;
}
.section-frontpage--image img {
    width: 100%;
}
.section-frontpage--map {
    display: flex;

    flex-direction: row;
    justify-content: space-between;

    height: 320px;
    overflow: hidden;

    color: #fff;
    background-color: #c0c0b5;
}
.report-map img {
    margin-top: -20px; /* The image is 40px taller than the allowed 320px. So we hide 20px on top and bottom to center it. */

    width: 360px;
}
.section-frontpage--map .section-type {
    font-size: 1.4em;

    color: #fff;
}
.section-frontpage--map .section-type::after {
    background-color: #fff;
}
.section-frontpage--name {
    padding-top: 50px;

    color: #74766c;
}

.section__undersagsnavn {
    font-size: 2.5em;
}
.section__date {
    font-size: 1.5em;
}
.section__date + .section__logo {
    margin-top: 50px;
}
.section__logo img {
    height: 34px;
}

/* */
.report-intro {
    display: flex;

    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 45px;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 36px;
}
.report-intro__title {
    font-weight: bold;
    font-size: 4em;
}
.report-intro__report-type {
    font-weight: bold;
    font-size: 2.5em;
}

.report-text-undersagsnavn {}

.editor {
    text-align: right;
}
.editor a {
    text-decoration: underline;

    color: #009e50;
}
