{% if contactPerson.name %}
  <div>{{ contactPerson.name }}</div>
{% endif %}

{% if contactPerson.mail %}
  <div><a href="mailto:{{ contactPerson.mail }}">{{ contactPerson.mail }}</a></div>
{% endif %}

{% if contactPerson.phoneNumber %}
  <div>{{ contactPerson.phoneNumber }}</div>
{% endif %}
