{% if contactPerson.name %}
  <div>{{ contactPerson.name }}</div>
{% endif %}

{% if contactPerson.mail %}
  <div>{{ contactPerson.mail }}</div>
{% endif %}

{% if contactPerson.phoneNumber %}
  <div>{{ contactPerson.phoneNumber }}</div>
{% endif %}
