{% extends "AppBundle::base.html.twig" %}

{% block title %}AppBundle:Dashboard:index{% endblock %}

{% block body %}
  <h1>Aa+</h1>
  <p>
    <a href="{{ path('rapport_new') }}" class="btn btn-default">
      {{ icon('plus') }} Tilføj Rapport
    </a>
  </p>
{% endblock %}
