{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  <h1>{{ entity.title }}</h1>
  {% if tiltag_type(entity) == 'pumpetiltag' %}
    <p>DEBUG: Type of the group: {{ tiltag_type(entity) }}</p>
  {% endif %}

  <div role="tabpanel">

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><a href="#oversigt" aria-controls="Oversigt" role="tab" data-toggle="tab">{{ 'tiltag.strings.oversigt' | trans }}</a></li>
      <li role="presentation" class="active"><a href="#detailark" aria-controls="Detailark" role="tab" data-toggle="tab">{{ 'tiltag.strings.detailark' | trans }}</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="oversigt">

        {% include 'AppBundle:Tiltag:show-include.html.twig' %}

      </div>
      <div role="tabpanel" class="tab-pane active" id="detailark">
        {% block detailark -%}...{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}