{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  <h1>PumpeDetail creation</h1>

  {{ form(form) }}

  <ul class="record_actions">
    <li>
      <a href="{{ path('pumpedetail') }}">
        Back to the list
      </a>
    </li>
  </ul>
{% endblock %}
