<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'koelingtiltagdetail.groups.tilstandfoer' | trans }}</h3>
      </div>
      <div class="panel-body">
        {% for key, row in edit_form.tilstandDataFoer %}
          {{ form_row(row) }}
        {% endfor %}
      </div>
    </div>
  </div>  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'koelingtiltagdetail.groups.tilstandefter' | trans }}</h3>
      </div>
      <div class="panel-body">
        {% for key, row in edit_form.tilstandDataEfter %}
          {{ form_row(row) }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
