{% for key, textPage in section.textPagesFiltered(showAfter) %}
  {% if not textPage.noPagebreak %}
    {% include 'AppBundle::RapportSektioner/_includes/section-page-break.html.twig' %}
  {% endif %}
  <div class="section-text">
    {{ textPage.text | raw }}
  </div>
{% endfor %}
