    </div>
  </div>
</div>
<div class="page-break-before section section--{{ section.type }} {% if landscape %}landscape{% else %}portrait{% endif %}">
  {% if section.editUrl and review %}
    <div class="editor"><a href="{{ section.editUrl }}"><span class="fa fa-pencil"></span> Redigér afsnit</a></div>
  {% endif %}
  <div class="row">
    <div class="col-xs-12">
      <div class="section-type">{{ sectionTypeNavn }}</div>
