{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  <div class="row heading">
    <div class="col-md-8">
      <h1>{{ 'belysningtiltag.actions.edit' | trans }}</h1>
    </div>
    <div class="col-md-4 right">
      {% if is_granted('ROLE_RAPPORT_EDIT') %}
        {{ form(delete_form) }}
      {% endif %}
    </div>
  </div>

  {% form_theme edit_form 'AppBundle:Form:twocol-form.html.twig' %}
  {{ form(edit_form) }}
  {{ form(delete_form) }}

{% endblock %}
