<div class="row">
  <div class="col-md-6">
    {{ form_row(edit_form[field_name][energi_type].forbrug) }}
  </div>
  <div class="col-md-6">
    {{ form_row(edit_form[field_name][energi_type].faktor) }}
  </div>
</div>
{{ form_row(edit_form[field_name][energi_type].driftOmkostning) }}
