{% extends 'AppBundle::base.html.twig' %}

{% block body -%}

  <div class="row heading">
    <div class="col-md-9">
      <h1>{{ 'komponent.actions.add' | trans }}</h1>
    </div>
    <div class="col-md-3 text-right">
    </div>
  </div>

  {{ form(form) }}

{% endblock %}
