{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
  <h1>{{ 'bygninger.actions.create' | trans }}</h1>

  {% include 'AppBundle:Bygning:_form.html.twig' with { 'edit_form': form } %}

{% endblock %}
